body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #38d0f2;
    background: url(../images/header1.jpg) bottom no-repeat;
    background-size: 1400px;
}

h1 {
    color: #062e08;
    font-family: serif, Times, Times New Roman;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.9);
    font-size: 50px;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: serif, Times, Times New Roman;
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article h2:nth-child(-n+2)::before {
    content: "New!";
    color: red;
    padding-right: 7px;
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
color: rgb(134, 142, 150);
margin-bottom: 5px;
}

.article-meta:nth-of-type(2n), p:nth-of-type(2n) {
    background-color: pink;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

